*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 500px;
    margin-top: 20px ;
    background:linear-gradient(to right, #3d3b3b,#898888);
    display:flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-radius: 15px;
}
img{
    width: 250px;
    height: 250px;
    border-radius:200px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ism-familya{
    margin-bottom: 10px;
    color: white;
    text-shadow: 10px 5px 4px black;
}
.text{
    width: 300px;
    color: white;
    text-shadow:10px 5px 4px black;
    margin-left: 50px;
    margin-right: 50px;

}
